<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="(_service.listas| pendientes:false).length==0">
    <ion-row>
      <ion-col class="text-center caja-vacia">
         <ion-icon class="icono-grande" ios="ios-done-all" md="md-done-all"></ion-icon>
         <p>No existen actividades</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<h2>Tareas en proceso!!</h2>
  <hr>
        <ul>
        <div class="row" *ngFor="let lista of _service.listas">
          <li class="col-xs-12">
            <div class="col-xs-6">{{lista.nombre}}</div>
            <div class="col-xs-6">{{lista.terminada}}</div>
          </li>
        </div>
      </ul>
    -->
    <ion-card *ngFor="let lista of _service.listas| pendientes:false;let i = index;">
      <ion-item color="dark" (click)="verDetalle(lista,i)">
        <h2 style="color:white">{{lista.nombre}}</h2>
        <ion-note item-right>{{lista.items.length}} items</ion-note>
      </ion-item>
      <ion-list *ngIf="lista.items.length>0">
        <ion-item *ngFor="let item of lista.items| slice:0:2" (click)="verDetalle(lista,i)"><!-- Advanced: explicity set the icon for each platform -->
          <ion-icon *ngIf="!item.completada" ios="ios-square-outline" md="md-square-outline"></ion-icon>
            <ion-icon *ngIf="item.completada" ios="ios-checkbox" md="md-checkbox"></ion-icon>
          {{item.nombre}}
        </ion-item>
        <ion-item *ngIf="lista.items.length>2" class="text-center">
          <ion-icon color="primary" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-fab right bottom>
      <button ion-fab color="primary" (click)="irAgregar()">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
  </ion-fab>
</ion-content>
